.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Subtle overlay for the background image */
  z-index: 1;
}

.content {
  text-align: center;
  z-index: 2;
  padding: clamp(1.5rem, 5vw, 3rem);
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, opacity 0.3s ease;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInUp 0.7s forwards;
}

.visible .content {
  opacity: 1;
  transform: scale(1);
}

.title {
  color: var(--heading-color);
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  margin-bottom: 1em;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.titleWord {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.titleWord:nth-child(2) {
  animation-delay: 0.3s;
}

.titleWord:nth-child(3) {
  animation-delay: 0.6s;
}

.subtitle {
  color: var(--text-color);
  font-size: clamp(1.2rem, 4vw, 1.8rem);
  margin-bottom: 2em;
  opacity: 0;
  animation: fadeIn 0.7s forwards 0.9s;
}

.ctaButton {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  padding: clamp(0.75rem, 2vw, 1rem) clamp(1.5rem, 4vw, 2rem);
  border-radius: 50px;
  font-size: clamp(1rem, 3vw, 1.2rem);
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: var(--accent-color-hover);
}

.backgroundAnimation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, var(--primary-color), var(--secondary-color), var(--accent-color));
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  z-index: 0;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Responsive layout adjustments */
@media (max-height: 600px) and (orientation: landscape) {
  .content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    max-width: none;
  }

  .title {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
  }

  .subtitle {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
  }

  .ctaButton {
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: 0.5rem 1rem;
  }
}
