.blogContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: var(--heading-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.blogPosts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.loadMoreButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
    background-color: var(--button-hover-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .blogPosts {
        grid-template-columns: 1fr;
    }
}
