/* src/features/Posts/PostList.module.css */

.myMasonryGrid {
  display: flex;
  margin-left: -var(--spacing-lg); /* gutter size offset */
  width: auto;
  margin-bottom: var(--spacing-lg);
}

.myMasonryGridColumn {
  padding-left: var(--spacing-lg); /* gutter size */
  background-clip: padding-box;
}

/* Apply margin-bottom to all items except the last one */
.myMasonryGridColumn > *:not(:last-child) {
  margin-bottom: var(--spacing-lg);
}

.infiniteScroll {
  overflow: visible !important; /* Override InfiniteScroll default overflow */
}

.error {
  color: var(--error-color);
  text-align: center;
  font-size: 1.2rem;
  margin-top: var(--spacing-lg);
}

.noPosts {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: var(--spacing-lg);
}
