:root {
  --background-color: #191923;
  --heading-color: #3D98B4;
  --text-color: #FBFEF9;
  --paragraph-texts: #0C1A1A;
  --blog-post-background: #333944;
  --blog-post-heading-color: #3D5A80;
  --blog-post-text-color: #E0FBFC;
  --button-color: #3D5A80;
  --button-hover-color: #F39237;
  --button-text-color-hover: #E0FBFC;
  --button-warning-color: #FDA1A2;
  --nav-background-color: #1D1842;
  --nav-link-hover-color: #F39237;
  --footer-background-color: #1D1842;
  --footer-text-color: #E0FBFC;
  --footer-heading-color: #3D98B4;
  --footer-link-color: #E0FBFC;
  --footer-link-hover-color: #F39237;
  --search-bar-border-color: #6ACFC7;
  --heading-font: 'Oswald', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.app {
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lightMode {
  --background-color: #fff;
  --text-color: #333;
  --nav-background-color: #444;
  --button-color: #F39237;
  --footer-background-color: #444;
}
.authButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--heading-font);
  font-size: 1rem;
  z-index: 1000;
}

.authButton:hover {
  background-color: var(--button-hover-color);
}

@media (max-width: 768px) {
  .authButton {
      font-size: 0.9rem;
      padding: 0.4rem 0.8rem;
  }
}

/* Light mode styles */
body.light-mode {
  --background-color: #FFF;
  --text-color: #333;
  --nav-background-color: #444;
  --button-color: #F39237;
  --blog-post-background: #444;
  --footer-background-color: #444;
}

/* Theme toggle styles */
.theme-toggle i {
  color: var(--text-color);
  font-size: 1.25em;
  cursor: pointer;
}